body {
  background-image: url(../images/pretty_field.jpg);
  /*background-color: #99ffeb;*/
  background-size: cover;
  font-style: georgia;


}

/*.indexPage{
  text-align: center;
  color: black;
  height: 150px;
}

#titlePage{
  font-size: 85px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}*/
/*h2 {
  font-size: 28px;
  margin-top: 0px;

}*/

.avatarX{
  background-color: rgba(255,255,255,.5);
  border-radius: 15px;
  height: 450px;
  width: 700px;
  margin: auto;
  display: none;
  color: #4e260b;


}
.avatarO{
  background-color: rgba(255,255,255,.5);
  border-radius: 15px;
  height: 450px;
  width: 700px;
  margin: auto;
 display: none;


}
  /*position: relative;
}

.playersProfiles:before{

}*/

h3{
 color: #4a260b;
 font-size: 20px;
}

.playerOpt1{
   padding-top: 20px;
   padding-left: 30px;
   height: 250px;
}

.playerOpt2{
   padding-left: 30px;

}

/*.avatarMain{
  height: 100px;
  width: 100px;
  position: relative;
  float: left;
  border: 1px solid black;
  margin-right: 25px;
  margin-top: 10px;
} */

input{
  height: 40px;
  width: 400px;
  margin-top: 30px;
  font-size: 24px;
  font-family: georgia;
}

.optionXO{
  border: 1px solid gray;
  position: relative;
  float: right;
  height: 40px;
  width: 45px;
  margin-right: 30px;
  margin-top: 30px;
  padding-top: 5px;
  background-color: white;
}
.gamePiece{
  background-color: rgba(255,255,255,.5);
  border-radius: 15px;
  height: 450px;
  width: 700px;
  margin: auto;
  margin-top: 20px;
  /*display: none;*/
}

.gameTitle {
  font-size: 30px;
  padding-top:50px;
  padding-left:40px;
  margin: auto;
}
.pickXO{
    display: inline-block;
    position: relative;
    margin: 50px;
    margin-top: 30px;
}

.pieceX{
  font-size:100px;
}

.pieceO{
  font-size: 100px;

}
.chooseX{
  font-size:100px;
  width:100px;
    text-align: center;
   display: inline-block;
   position: relative;
}

.chooseO{
  font-size: 100px;
  width:100px;
  display: inline-block;

}
.colors{
  height: 50px;
  width: 50px;
  border:1px solid black;
  display: inline-block;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
}

#colorWhite{
  background-color: #ffffff;
 }
#colorPink {
  background-color: #ff6666;
}
#colorRed {
  background-color: #ff0000;
}
#colorPurple{
  background-color: #993399;
}
#colorBlue{
  background-color: #0000ff;
}
#colorGreen{
  background-color: #006600;
}
#colorTeal{
  background-color: #33cccc;
}
#colorBlack{
  background-color: #000000;
}

.avatar{
  background-color: rgba(255,255,255,.5);
  border-radius: 15px;
  height: 450px;
  width: 700px;
  margin: auto;
  margin-top: 20px;
}

.avatarMain{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
}

.avatarChoice{
  width: 200px;
  padding-left: 30px;
  margin-top: 20px;

}
.pickAnAvatar{
 padding-left: 20px;
}

/*NEW PLAYER OPTIONS*/


.playersScoreBoard {
  display: inline-block;
  height: 200px;
  margin-top: 20px;

}
#playerX{
  background-color: rgba(255,255,255,.5);
  border-radius: 5px;
  width: 20vw;
  padding-top: 20px;

}
#whoWins{
  height: 40px;
  width: 50vw;


}
#playerO{
  background-color: rgba(255,255,255,.5);
  border-radius: 5px;
  width: 20vw;
  padding-top: 20px;
}




/* Content for game page*/
.boardFrame{
  height: 400px;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  padding: 0px;


}
.scoreBoard{
  margin:20px 0px;
  margin-bottom: 30px;
  text-align: center;

}


.squaresStyle{
  border: 2px solid #4a260b;
  height: 130px;
  width: 130px;
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px;
  padding: 0px;
  font-size: 100px;
  text-align: center;
  background-color: rgba(255,255,255,.5);
 /* background-color: rgba(252,225,75,.5);*/
  border-radius: 5px;



}
.gamePage{
  text-align: center;
  color: black;
  height: 5px;
}

.headerGame{

color: #4a260b;
font-size: 36px;
}

h3{
  font-size: 30px;
}

#whoWins{
   margin-top:  10px;
   text-align: center;

}




