body{

}

.boardFrame{
  margin: 0 auto;
  width: 330px;
  width: 330px;
}

.row{


}
.squaresStyle {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;



}

.headerGame{
  text-align: center;
  margin: auto;
}
